
<div class="flex flex-col items-center p-7 md:pb-0">
  <figure class="h-16 w-16 rounded-full overflow-hidden mb-7 xl:mb-14">
    <img
      [src]="client.image"
      [alt]="client.name"
    >
  </figure>
  <div class="text-center flex flex-col md:h-48 md:justify-between ">
    <p class="text-lg text-dark-grayish-blue mb-7 md:text-sm md:mb-0 xl:text-base">{{client.description}}</p>
    <div class="align-bottom">
      <p class="text-very-dark-desaturated-blue font-bold text-xl mb-3 md:text-lg">{{client.name}}</p>
      <p class="text-sm text-grayish-blue">{{client.work}}</p>
    </div>
  </div>
</div>
