
<div>
  <header class="header h-screen relative  ">
    <nav class="h-16 mb-16">nav</nav>
    <h1 class="header__title tracking-widest text-4xl font-bold text-white text-center pt">WE ARE CREATIVES</h1>
    <img class="absolute top-80 left-1/2 " src="./../assets/images/icon-arrow-down.svg" alt="arrow-down">
  </header>

  <main>
    <!-- section two -->
    <section>
      <div class="w-screen max-w-3xl">
        <img class="w-full object-cover" src="./../assets/images/mobile/image-transform.jpg" alt="">
      </div>
      <div class="py-14 px-7 max-w-3xl bg-white flex flex-col gap-y-5 items-center justify-center text-center">
        <h2 class="title text-3xl font-bold text-very-dark-desaturated-blue">Transform your brand</h2>
        <p class="text-xl text-very-dark-grayish-blue">We are a full-service creative agency specializing in healping brands
          grow fast. Engage your clients through compelling visuals that
          do most of the marketing for you.
        </p>
        <a class="title uppercase text-lg font-bold text-very-dark-desaturated-blue">learn more</a>
      </div>
      <div class="w-screen max-w-3xl">
        <img class="w-full object-cover" src="./../assets/images/mobile/image-stand-out.jpg" alt="">
      </div>
      <div class="py-14 px-7 max-w-3xl bg-white flex flex-col gap-y-5 items-center justify-center text-center">
        <h2 class="title text-3xl font-bold text-very-dark-desaturated-blue">Stand out to the right audience</h2>
        <p class="text-xl text-very-dark-grayish-blue">Using a collaborative formula of designers, researches,
          photographers, videographers, and copywriters, we'll build
          and extend your brand in digital places.
        </p>
        <a class="title uppercase text-lg font-bold text-very-dark-desaturated-blue">learn more</a>
      </div>
    </section>

    <!-- section three -->
  </main>
</div>














