<div class="max-w-3xl mx-auto xl:max-w-7xl xl:h-screen">
  <header class="header h-screen relative ">
    <nav class="relative w-full h-16 px-7 mb-16 flex justify-between items-center md:px-10 xl:h-24">
      <figure>
        <img src="./../assets/images/logo.svg" alt="logo">
      </figure>
      <div class="flex items-center">
        <ul class="hidden w-96 text-sm flex-row justify-end items-center gap-x-4 md:flex xl:text-base">
          <li class="text-white hover:text-dark-moderate-cyan hover:cursor-pointer">About</li>
          <li class="text-white hover:text-dark-moderate-cyan hover:cursor-pointer ">Services</li>
          <li class="text-white hover:text-dark-moderate-cyan hover:cursor-pointer ">Projects</li>
          <li class="px-4 py-2 bg-white rounded-3xl hover:bg-dark-moderate-cyan hover:uppercase hover:text-white hover:text-xs hover:cursor-pointer">Contact</li>
        </ul>
        <div class="block md:hidden">
          <img (click)="toggleMenu()" class="hover:cursor-pointer" src="./../assets/images/icon-hamburger.svg" alt="icon menu">
          <!-- menu mobile -->
          <div *ngIf="menu" class="absolute left-0 top-24 right-0 w-screen px-7 h-64">
            <ul class="bg-white h-full flex flex-col items-center justify-around py-8 pl-5 border-t-[20px] border-t-[#3ebfff] border-r-[20px] border-r-white">
              <li class="text-dark-grayish-blue hover:text-dark-moderate-cyan hover:cursor-pointer">About</li>
              <li class="text-dark-grayish-blue hover:text-dark-moderate-cyan hover:cursor-pointer">Services</li>
              <li class="text-dark-grayish-blue hover:text-dark-moderate-cyan hover:cursor-pointer">Projects</li>
              <li class="px-4 py-2 bg-yellow rounded-3xl hover:bg-dark-moderate-cyan hover:uppercase hover:text-white hover:text-xs hover:cursor-pointer">Contact</li>
            </ul>
          </div>

        </div>
      </div>
    </nav>
    <h1 class="title tracking-widest text-4xl font-bold text-white text-center uppercase xl:text-5xl">we are creative</h1>
    <img class="absolute top-80 left-1/2 md:top-60 xl:top-72" src="./../assets/images/icon-arrow-down.svg" alt="arrow-down">
  </header>

  <main>
    <!-- section one -->
    <section class="flex flex-col md:flex-row-reverse md:flex-wrap">
      <div class="w-screen md:w-1/2 md:h-[310px] md:order-1 xl:h-[540px]">
        <img class="w-full h-full object-cover" src="./../assets/images/mobile/image-transform.jpg" alt="">
      </div>

      <div class="md:order-2 container__secondary">
        <app-ad-title>Transform your brand</app-ad-title>
        <app-ad-content>We are a full-service creative agency specializing in healping brands
          grow fast. Engage your clients through compelling visuals that
          do most of the marketing for you.
        </app-ad-content>
        <app-ad-link class="decoration-yellow ">learn more</app-ad-link>
      </div>

      <div class="w-screen md:w-1/2 md:h-[310px] md:order-4 xl:h-[540px]">
        <img class="w-full h-full object-cover" src="./../assets/images/mobile/image-stand-out.jpg" alt="">
      </div>

      <div class="md:order-3 container__secondary">
        <app-ad-title>Stand out to the right audience</app-ad-title>
        <app-ad-content>Using a collaborative formula of designers, researches,
          photographers, videographers, and copywriters, we'll build
          and extend your brand in digital places.
        </app-ad-content>
        <app-ad-link class="decoration-soft-red ">learn more</app-ad-link>
      </div>
    </section>

    <!-- section two -->
    <section class="flex flex-col md:flex-row">
      <div class="relative w-screen md:h-[310px] xl:h-[540px]">
        <picture>
          <source srcset="./../assets/images/desktop/image-graphic-design.jpg" media="(min-width: 768px)">
          <img class="w-full h-full" src="./../assets/images/mobile/image-graphic-design.jpg" alt="">
        </picture>
        <div class="absolute bottom-0 text-center px-6 md:px-16 xl:px-32">
          <h2 class="title mb-4 font-bold text-2xl text-dark-desatured-cyan md:text-base md:mb-2 xl:mb-6 xl:text-3xl ">Graphic Design</h2>
          <p class="mb-14 text-dark-desatured-cyan text-base text-center font-medium md:text-sm md:mb-6 xl:mb-20 xl:text-lg">Great design makes you memorable. We deliver
            artwork that underscores your brand message and
            captures potential clients' attention.
          </p>
        </div>
      </div>

      <div class="relative w-screen md:h-[310px] xl:h-[540px]">
        <picture>
          <source srcset="./../assets/images/desktop/image-photography.jpg" media="(min-width: 768px)">
          <img class="w-full h-full " src="./../assets/images/mobile/image-photography.jpg" alt="">
        </picture>
        <div class="absolute bottom-0 text-center px-6 md:px-16 xl:px-32">
          <h2 class="title mb-4 font-bold text-2xl text-dark-desatured-cyan md:text-base md:mb-2 xl:mb-6 xl:text-3xl">Photography</h2>
          <p class="mb-14 text-dark-desatured-cyan text-base text-center font-medium md:text-sm md:mb-6 xl:mb-20 xl:text-lg">
            Increase your credibility by getting the most stunning, high-quality photos that improve your
            business image.
          </p>
        </div>
      </div>
    </section>

    <!-- section three testimonials -->
    <app-clients></app-clients>

    <!-- section four-->
    <section>
      <div class="grid grid-cols-2 md:grid-cols-4">
        <picture>
          <!-- <source srcset="./../assets/images/desktop/image-gallery-milkbottles.jpg" media="(min-width: 768px)"> -->
          <img src="./../assets/images/mobile/image-gallery-milkbottles.jpg" alt="bottles">
        </picture>
        <picture>
          <!-- <source srcset="./../assets/images/desktop/image-gallery-orange.jpg" media="(min-width: 768px)"> -->
          <img src="./../assets/images/mobile/image-gallery-orange.jpg" alt="orange">
        </picture>
        <picture>
          <!-- <source srcset="./../assets/images/desktop/image-gallery-cone.jpg" media="(min-width: 768px)"> -->
          <img src="./../assets/images/mobile/image-gallery-cone.jpg" alt="cone">
        </picture>
        <picture>
          <!-- <source srcset="./../assets/images/desktop/image-gallery-sugar-cubes.jpg" media="(min-width: 768px)"> -->
          <img src="./../assets/images/mobile/image-gallery-sugar-cubes.jpg" alt="sugar">
        </picture>
      </div>
    </section>

  </main>

  <footer class="flex flex-col justify-center items-center py-16 bg-dark-moderate-cyan">
    <div class="text-center">
      <h2 class="font-bold text-4xl text-dark-desatured-cyan mb-8">sunnyside</h2>
      <ul class="flex gap-x-12 text-grayish-blue mb-20">
        <li class="cursor-pointer hover:text-white">About</li>
        <li class="cursor-pointer hover:text-white">Services</li>
        <li class="cursor-pointer hover:text-white">Projects</li>
      </ul>
      <ul class="flex justify-center gap-x-5">
        <svg class="h-6 w-6 fill-dark-desatured-cyan hover:fill-white hover:cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"/>
        </svg>
        <svg class="h-6 w-6 fill-dark-desatured-cyan hover:fill-white hover:cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
        </svg>
        <svg class="h-6 w-6 fill-dark-desatured-cyan hover:fill-white hover:cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"/>
        </svg>
        <svg class="h-6 w-6 fill-dark-desatured-cyan hover:fill-white hover:cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
          <path d="M496 256c0 137-111 248-248 248-25.6 0-50.2-3.9-73.4-11.1 10.1-16.5 25.2-43.5 30.8-65 3-11.6 15.4-59 15.4-59 8.1 15.4 31.7 28.5 56.8 28.5 74.8 0 128.7-68.8 128.7-154.3 0-81.9-66.9-143.2-152.9-143.2-107 0-163.9 71.8-163.9 150.1 0 36.4 19.4 81.7 50.3 96.1 4.7 2.2 7.2 1.2 8.3-3.3.8-3.4 5-20.3 6.9-28.1.6-2.5.3-4.7-1.7-7.1-10.1-12.5-18.3-35.3-18.3-56.6 0-54.7 41.4-107.6 112-107.6 60.9 0 103.6 41.5 103.6 100.9 0 67.1-33.9 113.6-78 113.6-24.3 0-42.6-20.1-36.7-44.8 7-29.5 20.5-61.3 20.5-82.6 0-19-10.2-34.9-31.4-34.9-24.9 0-44.9 25.7-44.9 60.2 0 22 7.4 36.8 7.4 36.8s-24.5 103.8-29 123.2c-5 21.4-3 51.6-.9 71.2C65.4 450.9 0 361.1 0 256 0 119 111 8 248 8s248 111 248 248z"/>
        </svg>
      </ul>
    </div>
  </footer>

</div>


























