
.header {
  background-image: url('./../assets/images/mobile/image-header.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.arrow-down {
  left: calc(50% - 18px);
}

@media screen and (min-width: 768px) {
  .header {
    background-image: url('./../assets/images/desktop/image-header.jpg');
  }
}
